{{#> layout_page}}
    {{#*inline "page_content"}}
        <div class="container">
            <h1>Please Confirm your Email</h1>
            <p>Thanks for creating your account! In order to continue you must confirm your email address. You
                will receive an email with instructions for how to confirm your email address in a few
                minutes.</p>
        </div>
    {{/inline}}
{{/layout_page}}
