{{#> layout_page}}
    {{#*inline "page_content"}}
        <div class="container">
            <h1>Your email has been Confirmed!</h1>
            <p>Thanks for confirming your email address! Please <a href="/session/create">login</a> to continue.</p>
        </div>
    {{/inline}}
{{/layout_page}}
