{{#> layout_page}}
    {{#*inline "page_content"}}
        <div class="container">
            <h1>Email Confirmation Link Expired</h1>
            <p>
                The link used to confirm you email address has expired. Please click <a
                    href="/registration/confirmation-create">here</a> to send a confirmation email link to your email
                address.
            </p>
        </div>
    {{/inline}}
{{/layout_page}}
