{{#> layout_page}}
    {{#*inline "page_content"}}
        <div class="container">
            <h1>Password Reset Link Expired</h1>
            <p>
                Please visit <a href="/password/reset">Forgot Password?</a> to receive a new password reset email.
            </p>
        </div>
    {{/inline}}
{{/layout_page}}
